extends home
block content
    .forget-password-form
        form.submit-form(action='/users/forget-password' method='POST')
            h1.form-title Send Reset Mail
            .input-dev.email-input
                label(for="email") Email Address
                input.email(type="email" name="email" placeholder="Enter Your Email")
            button.forget-password-btn(type='submit') Send