include _tourCard.pug
        
doctype html 
html
    head 

        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/home.css")
        link(rel="icon", href="/img/icon/icon.png")
        link(rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.6.0/css/all.css")
        title Travgo | #{title}
        script(src="/js/home.js")
    body 
        nav
            h2.logo Travgo
            ul 
                li.nav-link 
                    a(href="/") Home
                li.nav-link 
                    a(href="") Blog
                li.nav-link 
                    a(href="") Services 
                li.nav-link    
                    a(href="/shop") Shop
            if user 
                 a(href="/profile")   
                    .user-info
                        img(src=`/img/users/${user.photo}`, alt="")
                        p #{user.name.split(' ')[0]}
            else
                .nav-btns
                    .signup
                        a.signup-btn(href="/signup") Sign up   
                    .signin
                        a.signin-btn(href="/login") Sign in   
        block content
            section.home-sec
                .home-content 
                    .ball.first-ball 
                    .ball.second-ball 
                    .ball.third-ball 
                    .ball.fourth-ball 
                    .ball.fifth-ball  
                    .img
                        img(src="/img/home-sec.jpg", alt="")
                    .info 
                        .info-content 
                            h2 Let's make your <br> 
                                span.highlighted-word best Tour ever!
                            p We organize the vacation of your dreams <br> in breathtaking places around the world.Choose one <br> of our special destinations or offer your own .


            section.tours-sec
                h1.tours-title Tours 
                .tours-content
                    each tour in tours
                        - let date = new Date(tour.startDates[0]).toLocaleDateString('en-US', {  year: 'numeric',  month: 'long', day: 'numeric',});
                        +tourCard(tour.name,tour.summary,tour.ratingsAverage,tour.ratingsQuantity,tour.price,tour.startLocation.description,tour.maxGroupSize,tour.imageCover,date,tour.locations.length)
                
                a(href="/shop").view-more-btn view more Tours
        footer 
            h2.logo Travgo
            p © 2024 by Abdelrahman Elrayes.