extends home 
block content 
    .profile-sec
        .profile
            .left-nav 
                ul
                    li.left-nav-link
                            i.fa-light.fa-gear
                            p SETTINGS
                    li.left-nav-link 
                            i.fa-light.fa-suitcase
                            p MY BOOKINGS
                    li.left-nav-link 
                            i.fa-light.fa-star-sharp
                            p MY REVIEWS
                    li.left-nav-link 
                            i.fa-light.fa-wallet
                            p BILLINGS
            .profile-content