extends home
block content
    .forget-password-form
        form.submit-form(action='/users/reset-password' method='POST')
            h1.form-title Reset Password
            .input-dev.new-pass-input
                label(for="password") New Password
                input.pas(type="password" name="password" placeholder="Enter new password" required)
            .input-dev.new-passConfirm-input
                label(for="passwordConfirm") Confirm New Password
                input.pas(type="password" name="passwordConfirm" placeholder="Confirm new password" required)
            input(type="text" name="token" style="display:none;" value=`${token}`)
            button.forget-password-btn(type='submit') Reset