@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Noto+Sans+JP:wght@100..900&display=swap');
:root {
  --main: #fff6f7;
  --first-con: #ffd8d9;
  --second-con: #ffeae9;
  --font: #32326e;
  --contrast: #7bd8c6;
  --logo-font: 'Dancing Script';
  --main-font: 'Noto Sans JP';
  --overlay: #15151582;
}
* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  color: var(--font);
  font-family: var(--main-font);
  background: var(--main);
}
button {
  cursor: pointer;
}
i {
  display: grid;
  place-items: center;
}
section {
  width: 100%;
  height: 100vh;
  background-color: var(--main);
  display: flex;
}
.btn {
  background-color: transparent;
  border: none;
  outline: none;
  width: 8rem;
  height: 3rem;
  border-radius: 1.5rem;
  color: var(--font);
  font-size: 1rem;
  font-weight: 900;
}
ul {
  text-decoration: none;
}
a {
  text-decoration: none;
  color: var(--font);
}
nav,
nav ul,
.nav-btns {
  display: flex;
}
nav {
  align-items: center;
  justify-content: space-evenly;
  height: 5rem;
  padding: 0 10rem;
  background-color: var(--main);
}
nav .logo,
footer .logo {
  font-family: var(--logo-font);
  font-size: 2.5rem;
  font-weight: 1000;
  height: 100%;
  padding-top: 1rem;
}
nav ul {
  list-style: none;
  height: 100%;
}
nav ul li {
  display: grid;
  place-items: center;
  width: 5rem;
  font-size: 1.1rem;
}
nav .logo img {
  width: 2rem;
}
nav .user-info {
  display: flex;
  align-items: center;
}
nav .user-info img {
  width: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
}
nav .user-info p {
  font-size: 1.1rem;
  font-weight: 600;
}

.signup-btn,
.signin-btn {
  display: grid;
  place-items: center;
  width: 8rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 900;
  border-radius: 1.5rem;
  cursor: pointer;
}
.signin-btn {
  background-color: var(--contrast);
  color: var(--main);
}
.home-sec {
  justify-content: center;
}
.home-content {
  width: 85%;
  height: 80%;
  border-bottom-right-radius: 8rem;
  border-bottom-left-radius: 8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.home-content .img {
  overflow: hidden;
  display: flex;
}
.home-content .img img {
  width: 100%;
  border-bottom-left-radius: 8rem;
}
.home-content .info {
  padding-left: 6rem;
  position: relative;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(1.5rem);
}
.home-content .ball {
  border-radius: 50%;
  position: absolute;

  z-index: 0;
}
.first-ball {
  background-color: var(--first-con);
  right: 45rem;
  bottom: 25rem;
  width: 12rem;
  height: 12rem;
}
.second-ball {
  background-color: var(--contrast);
  right: 35rem;
  top: 10rem;
  width: 7rem;
  height: 7rem;
}
.third-ball {
  background-color: var(--first-con);
  right: 14rem;
  top: 30rem;
  width: 9rem;
  height: 9rem;
}
.fourth-ball {
  background-color: var(--font);
  right: 25rem;
  bottom: 10rem;
  width: 15rem;
  height: 15rem;
}
.fifth-ball {
  background-color: var(--font);
  right: 10rem;
  top: 10rem;
  width: 10rem;
  height: 10rem;
}
.home-sec .info-content h2 {
  font-size: 4rem;
}
.home-sec .info-content p {
  font-size: 1.1rem;
  margin-top: 1rem;
}
.home-sec .info-content .highlighted-word {
  position: relative;
}
.home-sec .info-content .highlighted-word::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 30%;
  background-color: #7bd8c678;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.6s ease-out;
  transform: skew(-15deg);
}
.home-sec .info-content .highlighted-word:hover::after {
  height: 100%;
}
.home-content .info {
  display: grid;
  place-items: center;
}
.home-content .search-container {
  position: absolute;
  width: 65rem;
  height: 10rem;
  background: var(--first-con);
  border-radius: 4rem;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
}

/* tours section */
.tours-sec {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: fit-content;
}
.tours-sec h1 {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 3rem;
}
.tours-content {
  width: 85%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  height: fit-content;
  margin-bottom: 4rem;
}
.tour-card {
  width: 30rem;
  min-height: 35rem;
  height: fit-content;
  background: var(--font);
  border-bottom-right-radius: 8rem;
  border-bottom-left-radius: 8rem;
  padding: 1rem;
  height: fit-content;
  color: var(--main);
  position: relative;
  transition: 0.6s;
}
.tour-card:hover {
  transform: scale(1.1);
}
.tour-card .tour-title {
  font-size: 2.9rem;
  position: absolute;
  top: 9rem;
  left: 50%;
  transform: translateX(-50%);
  mix-blend-mode: difference;
  display: grid;
  width: 100%;
  place-items: center;
}
.tour-card img {
  width: 100%;
  height: 20rem;
  margin-bottom: 2rem;
}
.tour-summary {
  font-size: 0.9rem;
}
.tour-card-info {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}
.icon {
  display: flex;
  margin-bottom: 0.5rem;
}
.icon i {
  display: grid;
  place-items: center;
  margin-right: 0.5rem;
}
.highlighted-card-word {
  font-size: 0.8rem;
  color: var(--first-con);
}
.btns .tour-btn {
  /* border: 1px solid var(--main);
  color: var(--main);
   */
  background-color: var(--main);
  color: var(--font);
  width: 7rem;
}
.btns .tour-detail-btn {
  margin-right: 0.5rem;
  background: transparent;
  color: var(--font);
  background-color: var(--main);
  width: fit-content;
  padding: 0 1rem;
}
.card-form {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}
.view-more-btn {
  position: relative;
  font-size: 1.2rem;
  font-weight: 600;
}

.view-more-btn::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 50%;
  left: -5rem;
  top: 1rem;
  background-color: var(--font);
}
footer {
  display: flex;
  width: 100%;
  height: 5rem;
  background: var(--contrast);
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  box-sizing: border-box;
  margin-top: 5rem;
}
footer .logo {
  padding-top: 0rem;
  height: fit-content;
}

.submit-form {
  width: fit-content;
  height: fit-content;
  padding: 3rem;
  border-radius: 0.5rem;
  border: 1px solid var(--con-color);

  background: rgba(255, 255, 255, 0.13);
  border-radius: 16px;
  box-shadow: 0 4px 30px var(--font);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  margin-bottom: 3rem;
}
input {
  padding: 0 1rem;
  width: 15rem;
  margin: 0.5rem 0 2rem 0;
}
.form-btn,
input {
  outline: none;
  height: 3rem;
  border: none;
  font-size: 1rem;
  border-radius: 0.5rem;
}
.form-btn {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 1.5rem;
  background: var(--font);
  color: var(--main);
}
.input-dev {
  display: flex;
  flex-direction: column;
  /* width: ; */
}
.submit-form .file-input {
  margin-bottom: 2rem;
}
.form-footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.form-title {
  font-size: 3rem;
  margin-bottom: 2rem;
  display: grid;
  place-items: center;
}
.login-form-container,
.signup-form-container {
  margin: 9rem;
  display: flex;
  justify-content: center;
}
.first-input-content,
.second-input-content {
  display: flex;
  justify-content: space-between;
  width: 102%;
}
.profile-sec {
  display: grid;
  place-items: center;
  padding: 3rem 0;
}
.profile-sec .logout-form {
  width: 75rem;
  margin-top: 5rem;
}
.profile-sec .logout-btn {
  border: 1px solid red;
  color: red;
}
.profile {
  width: 75rem;
  min-height: 45rem;
  height: fit-content;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 2fr 5fr;
}
.left-nav {
  background-color: var(--font);
  color: var(--main);
  border-radius: 0.5rem;
  padding: 2rem 0;
}
.profile-content {
  border: 1px solid var(--font);
  border-radius: 0.5rem;
}

.profile .left-nav-link i {
  color: var(--main);
}
.profile .left-nav-link i {
  display: grid;
  place-items: center;
  margin-right: 0.5rem;
}
.profile .left-nav-link {
  display: flex;
  padding: 1rem 2rem;
  cursor: pointer;
  position: relative;
}
.profile .left-nav-link a {
  color: var(--main);
  width: 100%;
  height: 100%;
}

.profile .left-nav-link::after,
.profile .left-nav-link::before {
  content: '';
  position: absolute;
  width: 0;
  transition: 0.5s;
  left: 0;
  /* background-color: var(--first-con); */
  background-color: var(--main);
}
.profile .left-nav-link::after {
  height: 100%;
  top: 0;
}

.profile .left-nav-link::before {
  height: 1px;
  width: 0;
  bottom: 0;
}
.profile .left-nav-link:hover::after {
  width: 5px;
}

.profile .left-nav-link:hover::before {
  width: 60%;
}
.profile-section {
  height: 48rem;
  width: 50rem;
  padding: 3rem;
  overflow-y: scroll;
}
.profile-section::-webkit-scrollbar {
  display: none;
}
.hide-profile-section {
  display: none;
}

.settings-sec .file-input img {
  width: 5rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
  height: 5rem;
}
.settings-sec {
  padding: 3rem;
}
.info-content-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.info-content-container-2 {
  justify-content: flex-start;
  margin-bottom: 0;
}
.info-content-container-2 .name-input,
.info-content-container-3 .new-pass-input {
  margin-right: 7rem;
}

.info-content-container-3 {
  display: flex;
}
.settings-sec h1 {
  margin-bottom: 4rem;
}
.info-form {
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--font);
}
.settings-sec .input-dev {
  margin-bottom: 1rem;
}
.settings-sec .file-input {
  flex-direction: row;
  align-items: center;
  margin: 0;
}
.file-input input {
  margin: 0;
}
.file-input .h-dev {
  display: flex;
  flex-direction: column;
}
.file-input label {
  padding-left: 1rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
}
.file-input input::-webkit-file-upload-button {
  background-color: var(--font);
  color: var(--main);
  padding: 10px;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
.settings-sec form button {
  background-color: var(--font);
  color: var(--main);
  width: 100%;
}
.pass-change-form .input-dev {
  margin-bottom: 0;
}
/* shop view */

.tours-sec .search-container {
  width: 65rem;
  height: 6rem;
  border: 2px solid var(--first-con);
  border-radius: 4rem;
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}
.tours-sec .search-container select,
.search-container input {
  width: 10rem;
  height: 2rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.4rem;
  background: #ffffff;
  margin: 0.5rem 0 0 0;
}
.search-container input {
  height: 1rem;
  color: #444444a8;
  font-size: 0.9rem;
}
.search-container label {
  font-weight: 900;
  margin-bottom: 0.5rem;
}
option {
  padding: 10px;
  background-color: var(--main);
  color: var(var(--font));
}
select:focus {
  border-color: var(--font);
}
.tours-sec .search-btn {
  background: var(--contrast);
  color: var(--main);
}
/* tour profile */
.tour {
  overflow: hidden;
  /* padding-bottom: 20rem; */
}
.tour .tour-profile-picture {
  width: 100%;
  height: 50rem;
}
.tour-img-overlay {
  position: relative;
}
.tour .img-overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay);
  background-color: #32326e73;
}
.tour .tour-name {
  position: absolute;
  font-size: 5rem;
  font-weight: 1000;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--main);
}
.tour-img-cover {
  background-image: url('../img/slider-pattern.png');
  height: 5rem;
  z-index: 10;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.tour .tour-information {
  width: 100%;
  height: fit-content;
  min-height: 44rem;
  background: #ffff;
  padding: 4rem;
  display: grid;
  grid-template-columns: 2fr 5fr;
  position: relative;
}
.tour .highlighted-card-word {
  color: var(--font);
}
.tour .tour-description,
.tour-right-information h1 {
  width: 39rem;
}
.tour-right-information {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tour-left-information {
  display: grid;
  justify-content: flex-end;
}
.tour-left-information .icons {
  padding-top: 3rem;
}
.tour-left-information .icon {
  font-size: 1.15rem;
  margin-bottom: 1rem;
}
.tour-right-information h1 {
  font-size: 3rem;
  font-weight: 1000;
  margin-bottom: 1rem;
}
.tour-guides {
  margin-top: 3rem;
  margin-bottom: 10rem;
}
.tour-guides h3 {
  margin-bottom: 1.25rem;
  font-weight: 1000;
  font-size: 2rem;
}
.tour-guide {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
.tour-guide img {
  height: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.tour-images {
  height: 22rem;
  display: flex;
  position: absolute;
  transform: rotate(-7deg);
  bottom: -12rem;
  left: -0.5rem;
  width: 100%;
  z-index: 500;
}
.tour-images img {
  transform: skew(-7deg);
  width: 40rem;
}
#map {
  width: 100%;
  height: 60rem;
  margin-top: 5rem;
  position: relative;
  margin-bottom: 15rem;
}
.map-overlay {
  width: 110%;
  height: 20rem;
  background: var(--main);
  z-index: 500;
  position: absolute;
  bottom: -71rem;
  left: -2rem;
  transform: rotate(-7deg);
  display: flex;
  align-items: center;
  padding-left: 22rem;
}
.map-overlay h1 {
  width: fit-content;
  font-size: 5rem;
}
.leaflet-touch .leaflet-control-attribution {
  display: none;
}
.tour-reviews {
  width: 100%;
  height: 15rem;
  background: var(--font);
  padding: 4rem 4rem;
  align-items: center;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 5rem;
  margin-top: 16rem;
  margin-bottom: 5rem;
}
.tour-review {
  width: 15rem;
  height: 15rem;
  background-color: var(--main);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
}
.tour-review img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.tour-review .user-name {
  font-weight: 1000;
  margin-bottom: 1rem;
}
.tour-review-rev {
  color: #151515b5;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}
.create-review-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: var(--font);
  color: var(--main);
  position: absolute;
  top: 163rem;
  right: 0rem;
  width: 100%;
  padding-top: 18rem;
  padding-right: 3rem;
}
.create-review-form button {
  border: 1px solid var(--main);
  color: var(--main);
}
.create-review-form .review-input {
  margin-right: 1rem;
}
.create-review-form .rating-input {
  margin-right: 3rem;
}
.create-review-form .rating-input input {
  width: 7rem;
}
.tour-review-rating {
  font-weight: 1000;
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--font);
  display: grid;
  place-items: center;
  border-radius: 0.5rem;
}
.tour-payment {
  padding: 2rem;
  width: 50rem;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: var(--font);
  color: var(--main);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8rem;
  position: relative;
  transform: translateX(30rem);
}
.tour-payment img {
  width: 10rem;
  position: absolute;
  left: -3rem;
  transform: rotate(23deg);
}
.tour-payment .payment-title h2 {
  font-weight: 1000;
}
.tour-payment .pay-btn,
.tour-payment .tour-login-btn {
  background: var(--main);
  width: fit-content;
  padding: 0 2rem;
}
.tour-payment .tour-login-btn {
  display: grid;
  place-items: center;
}
/*! profile sections */
.reviews-sec h1 {
  width: 100%;
  display: grid;
  place-items: center;
  padding: 2rem 0;
  font-size: 2.5rem;
}
.reviews-sec .review-card {
  background: var(--font);
  color: var(--main);
  border-radius: 0.5rem;
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.review-card .review-card-data {
  margin: 0 2rem;
}
.review-card .review-card-data h2 {
  margin-bottom: 0.5rem;
}
.review-card .review,
.review-card .rating {
  display: flex;
}
.review-card .word,
.review-card-data .highlighted-card-word {
  color: red;
  margin-right: 0.5rem;
}
.review-card img {
  height: 10rem;
  border-radius: 0.5rem;
}
.review-card-btns {
  width: 9rem;
  height: fit-content;
  flex-direction: column;
  display: flex;
}
.review-card-btns .del-review {
  color: var(--main);
  background-color: red;
  margin-bottom: 0.25rem;
  display: grid;
  place-items: center;
}
.review-card-btns .update-review {
  color: var(--main);
  background-color: var(--contrast);
  display: grid;
  place-items: center;
}
