<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="icon" href="../public/img/logo.png" type="icon" /> -->
    <link rel="stylesheet" href="../public/css/home.css" />
    <link rel="icon" href="../public/img/icon.png" type="icon" />
    <title>Travgo</title>

    <!-- #0791BE #F56960 -->
    <!-- #ffd8d9  #ffeae9 #7bd8c6  #32326e -->
    <!-- "\f005\f005\f005\f005\f005" -->
  </head>
  <body>
    <script src="../public/js/home.js"></script>
  </body>
</html>
